<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Test</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Full Name: <input type="text" name="full_name" >
        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" required>
        <br><br>
        <input type="submit" value="Upload">
    </form>

    <img src="/media/image2.jpg" alt="" style="width: 1200px; height: 100vh;">
</body>
</html>